<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="css/style-base.css" rel="stylesheet">
    <link href="css/style-desktop.css" rel="stylesheet">
    <link href="css/style-tablet.css" rel="stylesheet">
    <link href="css/style-mobile.css" rel="stylesheet">
</head>

<body>
    <div class="div-header">
        <header>
            <div class="header-nav">
                <section class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                </section>
                <section class="buscador">
                    <form action="/" method="get" class="form-buscador">
                        <div>
                            <input class="input" placeholder="Buscar productos, marcas, ofertas" type="search" />
                            <button class="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </section>
                <section class="texto">
                    <p class="texto-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de credito
                    </p>
                </section>

            </div>

            <nav class="navegacion">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-user"></i></a> </li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
                </ul>
            </nav>

            <section class="seccion-burger">
                <button class="burger">
                    <i class="fa fa-bars fa-1x "></i>
                </button>
            </section>

        </header>
    </div>
    <div class="div-banner">
        <div class="seccion-banner">
            <img class="banner" src="/images/img-home-banner.jpg">
        </div>
    </div>
    <div class="div-main">
        <main>
            <section class="producto-section">
                <div class="titulares">
                    <h2>Basado en tu última visita</h2>
                </div>
                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-cafetera-moulinex.jpg"><br>
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% Off</p>
                        </div>
                        <div class="content-descripcion">
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-macbook-pro-2019.jpg"><br>
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% Off</p>
                        </div>
                        <div class="content-descripcion">

                        </div>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-samsung-galaxy-s10.jpg"><br>
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% Off</p>
                        </div>
                        <div class="content-descripcion">

                        </div>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-tv-samsung-smart.jpg"><br>
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% Off</p>
                        </div>
                        <div class="content-descripcion">

                        </div>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>

            <section class="producto-section">
                <div class="titulares">
                    <h2>Ofertas</h2>
                </div>
                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-cafetera-moulinex.jpg"><br>
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% Off</p>
                        </div>
                        <div class="content-descripcion">

                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-macbook-pro-2019.jpg"><br>
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% Off</p>
                        </div>
                        <div class="content-descripcion">

                        </div>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-samsung-galaxy-s10.jpg"><br>
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% Off</p>
                        </div>
                        <div class="content-descripcion">

                        </div>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article class="producto">
                    <div class="content-imagen">
                        <img src="/images/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="detalle">
                        <div class="content-icono-envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="content-precio-descuento">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% Off</p>
                        </div>
                        <div class="content-descripcion">

                        </div>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </main>
    </div>
    <div class="div-footer">
        <footer>
            <div>
                <article>
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés
                        con tarjeta o efectivo en puntos de <br> pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                        productos. Es <br> un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> no hay nada que no puedas hacer,
                        porque <br> estás siempre protegid@</p>
                </article>
            </div>
            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </article>
        </footer>
    </div>
</body>

</html>